// Custom.scss
// Esto lo he copiado y pegado directamente de la documentación

// Include any default variable overrides here (though functions won't be available)

// Color primario
$primary: #A00;

// Color de las captions del carrusel (Para que haga más contraste con las imagnes del carrusel)
$carousel-caption-color: cyan;
// Para que las captions esté arriba
.carousel-caption {
    top: 0;
    bottom: auto;
}

// Le cambio la fuente a los botones
// https://stackoverflow.com/questions/24075222/how-can-i-change-the-bootstrap-default-font-family-using-font-from-google 
@import url("https://fonts.googleapis.com/css?family=Oswald:400,300,700");
$input-btn-font-family: 'Oswald', sans-seriff;


// Tamaño del logo
.navbar-brand>img{
    width: 40px;
    height: auto;
}

// Lo importo todo del tirón
@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here